/** @format */

.head {
  margin: 16px 16px;
  padding: 2px 0px;
  border-bottom: solid 2px #700;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 200px;
  margin: 5px;
}

.logo a:link {
  color: #000;
  text-decoration: none;
}

.logo a:hover {
  color: #000;
  text-decoration: underline;
}

.logo a:visited {
  text-decoration: none;
}
