/** @format */

.main {
  width: 800px;
  margin: 4px auto;
  border: solid 2px #700;
  background-color: #fff;
}

.article {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 48px;
  width: 630px;
  float: right;
}
