.section {
	margin-left: 8px;
	padding: 2px;
	font-size: 11pt;
}

.section h2 {
	margin: 24px 0px;
	padding-left: 4px;
	padding: 0.5em;
	color: #000;
	background: #cdf0fd;
	border-left: solid 5px #6CBAD8;
}

.section h3 {
	margin: 16px 0px;
	border-bottom: 1px dashed #6CBAD8;
}

.section ul {
	margin: 4px;
}