---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Paragraph from '@components/Paragraph.astro'
import Timeline from '@components/twitter/Timeline.astro'
---

<Layout title="お問い合わせ">
  <div slot="content">
    <article id="dyn-content">
      <SectionTitle title="お問い合わせ" />
      <SectionTitle title="連絡先" level="2" />
      <Paragraph>
        入部希望者または質問等がある方は，名前・学部学科・回生を明記の上，下記のメールアドレスにメールをしていただくか，
        下記のRiPProのTwitter公式アカウントにDMしてください．<br />
        ※Twitterの方が対応が早いため，Twitterでの連絡をおすすめします．
      </Paragraph>
      <Paragraph>
        Mail: ripprotarou[@]gmail.com<br />
        Twitter: @PJ_RiPPro
      </Paragraph>
      <SectionTitle title="活動場所・時間" level="2" />
      <Paragraph> OIC H棟5階 H501教室 </Paragraph>
      <SectionTitle title="活動時間" level="2" />
      <Paragraph>
        週1回 18:00〜 <br />
        （部員の授業スケジュールの兼ね合いで毎学期始めに曜日を決定しています）
      </Paragraph>
      <SectionTitle title="Twitter" />
      <Timeline id="PJ_RiPPro" />
    </article>
  </div>
</Layout>
<style></style>
