---
import { Tweet } from 'astro-embed'

interface Props {
  url: string
}
const { url } = Astro.props

const postURL = (() => {
  try {
    const Url = new URL(url)
    if (Url.hostname === 'x.com') {
      return (new URL('https://twitter.com'), Url.pathname).toString()
    }
    if (Url.hostname === 'www.x.com') {
      return (new URL('https://twitter.com'), Url.pathname).toString()
    }
    return Url.toString()
  } catch {
    return new URL('https://twitter.com').toString()
  }
})()

const api = 'https://publish.twitter.com/oembed'
const uri = new URL(api)
uri.searchParams.set('url', postURL)
uri.searchParams.set('omit_script', 'true')
uri.searchParams.set('dnt', 'true')

const tweet = await fetch(uri.toString())
  .then<{ html: string }>((res) => res.json())
  .catch((_) => null)
---

<script is:inline src="https://platform.twitter.com/widgets.js"></script>

{
  tweet && (
    <>
      <div>
        <Tweet id={uri.toString()} data-chrome="noheader nofooter" />
      </div>
    </>
  )
}
