/** @format */

body {
  overflow-y: scroll;
  line-height: 1.5em;
  font-family: sans-serif;
  font-size: 16px;
  background-image: linear-gradient(-45deg, rgba(135, 206, 256, 0.4), rgba(100, 149, 256, 0.4)), url('/background.jpg');
  background-attachment: fixed;
}
