/** @format */

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.line p {
  margin: 0;
}

.list {
  list-style: none;
  display: block;
  padding-left: 0;
}

.bottom {
  margin-bottom: 1em;
}

.flyer {
  justify-content: flex-end;
  display: flex;
  position: relative;
  padding-right: 2%;
}
.workshop {
  position: absolute;
}
.p {
  float: right;
  font-size: small;
  padding-right: 2%;
}
