html {
  background: #e0f0f0;
}

body {
  margin: 50px;
  padding: 30px 50px;
  background: #ffffff;
}

input {
  margin: 8px 0;
  padding: 8px;
  top: 0;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

th {
  text-align: left;
}

td > div {
  padding: 10px 30px;
  color: #ffffff;
}

th, td {
  padding: 4px;
}

table {
  width: 100%;
}

tbody tr:hover {
  background-color: #f3f3f3;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.ac {
  background-color: #5cb85c;
}

.wa, .re, .ce, .tle, .mle, .ole, .pe {
  background-color: #f0ad4e;
}

.waiting, .running, .jna {
  background-color: #404040;
}
